<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shinichi Takayanagi's website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class=" container">
        <div id="header">
            <p>SHINICHI TAKAYANAGI</p>
        </div>
        <div id="sidebar">
            <div class="logo-title">
                <div class="title">
                    <img src="./images/icon.png" class="image-circle" />
                    <p>Shinichi Takayanagi</p>
                    <p>About</p>
                    <p>Education</p>
                    <p>Research</p>
                    <p>Interests</p>
                    <p>Experience</p>
                    <p>Publications</p>
                </div>
            </div>
            <div class="social-links">
                <a href="https://github.com/shinichi-takayanagi"><i class="fab fa-github fa-2x fa-color"></i></a>
                <a href="https://twitter.com/_stakaya"><i class="fab fa-twitter fa-2x fa-color"></i></a>
                <a href="https://www.facebook.com/shinichi.takayanagi.7"><i
                        class="fab fa-facebook fa-2x fa-color"></i></a>
                <a href="https://www.instagram.com/_stakaya/"><i class="fab fa-instagram fa-2x fa-color"></i></a>
                <a href="https://www.linkedin.com/in/shinichi-takayanagi-1299ba2b/"><i
                        class="fab fa-linkedin-in fa-2x fa-color"></i></a>
            </div>
        </div>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </div>
    </section>
</body>

</html>